@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'dazzle';
  src: url('/fonts/dazzle-unicase-bold.woff2')
    format('woff2');
}
.logo {
  font-family: 'dazzle';
  /* font-size: 14px; */
}
body {overflow-x: hidden;
}
